{% extends 'main/wrapper.html' %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
{#         <a href=""><button class="button bg-success rounded-3 text-light border-dark border border-3">Добавить статью</button></a>#}
        <h2>{{ title }}</h2>
        <p>На главной самые новые статьи, топ авторов, важные сообщения</p>
{#        {% include 'main/include.html' %}#}
{#        <ul>#}
{#        {% for i in news %}#}
{#            <li> {{ i | upper}}</li>#}
{#        {% endfor %}#}
{#        </ul>#}
{% endblock %}
